	 <nav class="navbar navbar-dark bg-dark">
	     <h1> History of Universe</h1>
	    
	   
	      
	      <form> 
		   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionModal">
		     Ask Question
		   </button>
	      </form>
	    
	  </nav>
	  